@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Rajdhani&display=swap");

:root {
  --color: #000000;
  --border: #fffade;
  --backcon: rgb(10, 10, 234), 0.9;
  --container: #e6e6e6;
  --hover: #d0c2ff;
  --special: #9f94fc;
  --btn: #a0242b;
  /* --border: .22px solid #e50000;
  --border-li: 2px solid #5a5a5a; */
  --special2: #7b7a7a;
  --border-redu: 6px;
  --transfor: all 0.1s ease-in-out;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transfor);
  color: var(--color);
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #eceef7;
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Section for Home page and usename */
.section-1 {
  width: min(95%, 1000px);
  height: auto;
  margin: 10px;
  padding: 15px 0 !important;
}

.logo {
  width: 60px;
  height: 60px;
  border: 4px dotted white;
  float: right;
  font-size: 1.9rem;
}
.logo i {
  color: var(--special2);
}
.heading {
  width: fit-content;
  margin: auto;
  clear: both;
  text-align: center;
  font-size: 1.5em;
  padding: 0 0 9px 0;
  border-bottom: 2px solid var(--special2);
}

.user-name {
  font-size: 1.5rem;
  padding: 55px 0 0 8%;
}

/* .user-name input {
  width: 450px;
  max-width: 65%;
  height: 45px;
  border-radius: var(--border-redu);
  background-color: transparent;
  outline: none;
  border: var(--border);
  color: var(--color);
  padding: 0 0 0 10px;
  font-size: 1.2rem;
} */

/*  Categeries of options */
#categ {
  /* margin: 30px 0 0 8%; */
  padding: 15px 20px;
  border-bottom: 0.3px solid var(--special2);
}

.type-option {
  width: 80%;
  height: max(90%, 300px) !important;
  border-radius: var(--border-redu);
  /* backgrśound-color: var(--container); */
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* padding: 12px;ś */
}
.btn_container {
  text-align: right;
  padding: 25px;
}

.startbtn {
  width: 120px !important;
  background: #064e96 !important;
  color: white;
  height: 40px !important;
  margin: 0 0 0 auto;
}

.user-selected {
  height: 55px;
  width: fit-content;
  background-color: var(--container);
  margin: 15px 0 0 8%;
  padding: 9px 20px 0 18px;
}

/* Section for greeting */
.greeting {
  position: absolute;
  top: 0;
  right: 0;
  height: 45px;
  width: auto;
  margin: 1.5%;
  padding: 0 15px;
  background-color: var(--container);
  border: var(--border);
  border-radius: var(--border-redu);
  font-size: 0.8rem;
}

/* section for notification */
.section-2 {
  margin: 12px !important;
  padding: 0 !important;
  width: 500px;
}

.section-2 h2 {
  width: 100%;
  padding: 10px 15px;
  color: #3a3838;
  border-bottom: 1px solid var(--special2);
}

.section-2 p {
  padding: 20px 15px;
  font-size: 1.2rem;
}
.notes {
  padding: 12px 5px;
}
.notes li {
  padding: 0 0 18px 20px;
  list-style: none;
  font-weight: 400;
  font-size: 0.8rem !important;
}

.btna {
  height: 60px;
  gap: 20px;
}

.btna button {
  padding: 0 20px !important;
  margin: 0 !important;
  height: 35px;
}

.agree {
  position: relative;
  padding: 0 10px !important;
  width: 90px !important;
  height: 35px !important;
  position: relative;
  background-color: #0759a7 !important;
}
.agree > span {
  color: rgb(255, 255, 255) !important;
}
.btnc {
  padding: 0 30px !important;
  border: 1px solid var(--special2) !important;
  height: 35px !important;
}
.tim {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: var(--border-redu);
  background-color: #0759a7 !important;
  opacity: 0.9;
  font-size: 1rem;
}

/* ======== section for questions anwser  ========= */
.section-3 {
  width: 900px !important;
  max-width: 96%;
  margin: 0 !important;
  padding: 0 0 !important;
  display: flex;
  flex-direction: column;
}

.timer-box {
  height: auto;
  padding: 30px 0;
  background-color: var(--container);
  display: flex;
}

.circle {
  width: 120px;
  height: 120px;
  background-color: #fdfcff;
  margin: auto;
  border-radius: 50%;
  font-size: 2rem;
  border: 1px solid #000;
}

.quetions {
  /* font-size: 11rem; */
  margin: 4px;
  height: 140px;
  padding: 20px;
  text-indent: -8px;
  line-height: 1.4;
  border-radius: var(--border-redu);
  border: 1px solid rgb(222, 214, 214);
}

.options {
  width: 100%;
  /* height: 220px; */
  padding: 25px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px !important;
  /* padding: 0 10px; */
  align-content: center;
  justify-content: center;
}

.options span {
  margin: 0 15px !important;
  justify-content: start;
  border: var(--border-li);
}

.nextbtn {
  margin: auto 0 0 0;
  /* padding: 8px 15px; */
  gap: 35px;
  border-top: 1px solid #bbaeae !important;
  justify-content: end !important;
}

.nextbtn span {
  background-color: #0759a7;
  height: 35px;
  color: white !important;
  width: 120px;
  margin: 10px;
  border-radius: var(--border-redu);
  cursor: pointer;
  font-size: 1.2rem;
  transition: var(--transfor);
}

.nextbtn div:nth-child(1) :hover {
  padding-right: 4px;
}

.nextbtn div:nth-child(2) :hover {
  padding-left: 4px;
}

.Iamdone {
  background-color: rgb(0, 0, 0);
  font-size: 1.2rem;
  width: 150px;
  margin: 10px 15px 10px auto !important;
  color: white;
  padding: 6px 0;
  border-radius: var(--border-redu);
  margin: auto;
  cursor: pointer;
}

/* ========== section for result showing ========= */
.section-4 {
  width: 600px;
  max-width: 95%;
}

.section-4 h2 {
  border-bottom: 5px solid var(--special2);
  width: fit-content;
  padding: 0 0 8px 0;
}

.results {
  width: 100%;
  /* max-width: 65%; */
  height: auto;
  /* background-color: #FAF8FF; */
  list-style: none;
  padding: 35px 35px 10px 35px;
  font-size: 1rem;
}

.results > li {
  margin: 0 0 15px 0;
  background-color: var(--container);
  width: 100%;
  height: 40px;
  border-radius: var(--border-redu);
  justify-content: start;
  gap: 16px;
  overflow: hidden;
  /* padding: 0 0 0 20px; */
}
.results > li > :first-child {
  background: #292525;
  color: white;
  font-size: 1rem !important;
  height: 100%;
  width: 180px;
  max-width: 50%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.results span {
  /* text-indent: 8px; */
}

.last-buttons > :last-child {
  height: 40px !important;
  padding: 0 34px !important;
  border: 1px solid var(--special2);
  /* background-color: #A0242B; */
}
.last-buttons > :first-child {
  height: 40px !important;
  color: white;
  background-color: #064e96;
}
