.container {
  height: auto;
  background: rgb(255, 255, 255);
  border-radius: var(--border-redu);
  box-shadow: 0 1px 3px 1px rgba(127, 126, 126, 0.6);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  padding: 20px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  width: auto;
  height: 45px;
  /* background: transparent; */
  border: var(--border);
  border-radius: var(--border-redu);
  margin: 0 0 0 20px;
  padding: 0 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: var(--transfor);
}
.btn:hover {
  opacity: 0.9;
}
.optcat {
  border: var(--border);
  display: inline-block;
  /* flex-direction: row !important; */
  margin: auto;
  width: auto;
  height: 40px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max(35%, 250px);
  padding: 20px 0;
  /* margin: 0 0 15px 15px; */
  cursor: pointer;
  border-radius: var(--border-redu);
}

/* 
 code for   JS functions
*/

.user-selected > span {
  background-color: rgb(20, 5, 74);
  cursor: text !important;
  gap: 20px;
  padding: 2px 8px 0 15px;
}
.clscat {
  background-color: rgb(183, 52, 52);
  display: inline-block;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  text-align: center;
  margin: 2px 0 0 2px;
  padding: 1px 0 0 0;
  cursor: pointer;
}

/* For display none when using js */

.clsg {
  display: none;
  animation: ;
}

.selected {
  color: white;
  background-color: rgb(21, 18, 18);
}

.Freeze {
  pointer-events: none;
}
